* {
    background-color: rgb(198, 219, 247);
}

.main{
    
}
.titleContainer{
    text-align: center;
    font-size: 80px;
}

.navBar{
    display: flex;
    flex-direction: column;
    width:100vw;
    height: 500px;
    justify-content: space-around;
}

.navText {
display:block;
position: static;
font-size: 35px;
text-decoration: none;
color: rgb(0, 0, 0);
width: 150px;
}

.navText:hover {
    background-color: rgb(241, 232, 99);
}

.home{
    color:black;
    font-size: 25;
    text-decoration: none;
}

.peopleContainer {
    display: flex;
    position: relative;
    bottom: 500px;
    left:600px;
    text-align:justify;
    flex-direction: column;
}

.peopleText {
    font-size: 35px;
}

.dataContainer {
    display:flex;
    flex-direction: column;
    list-style-type:none;
    
}

.dataText{
    margin-right: 25px;
    margin-top: 25px;
    font-size: 25px;
}

.displayNone {
    display: none;
}


.navTextActive {
    background-color: rgb(241, 232, 99);
}
