.tittleContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.barraNav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.textNav{
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin-top: 75px;
    text-decoration: none;
}

.containerNav {
   position: relative;
    width: 300px;
    height: 100vh;
    background-color: rgb(245, 154, 51);
    bottom: 126px;
    right: 8px; 
}

.textNavActive{
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin-top: 75px;
    text-decoration: none;
}